In [109]:
import pandas as pd
import  numpy as np

## Задача 1
### 1.1
ФАЙЛ С ДОМАМИ ИЗ ПРОШЛОГО ДЗ. Считать данные с помощью pandas.
Вывести на экран первые 5 строк.

In [110]:
df = pd.read_csv('kc_house_data.csv', sep= ',')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1.2
Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [111]:
df['delta_renovated'] = 0
df.loc[df['yr_renovated'] !=0, 'delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0

### 1.3
Создайте признаки года продажи, месяца продажи

In [112]:
df['yr_sell'] = df['date'].apply('str')[:4]
df['month_sell'] = df['date'].apply('str')[4:6]
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,yr_sell,month_sell
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,2014,10
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,2015,02
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,2014,12
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,2015,02

### 1.4
Удалите признаки date, zipcode, lat, long

In [113]:
df.drop(columns= ['date', 'zipcode', 'lat', 'long'], inplace=True)
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sell,month_sell
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,2015,02
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,2015,02

## Задача 2
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [114]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

### 2.1
Присоедините к таблице clients данные по домам через метод join

In [115]:
clients2 = clients.set_index('house_id')
df2 = df.set_index('id')
joined = clients2.join(df2)
joined.head(10)

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sell,month_sell
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,09
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,09
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,06
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10
1522700060,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,0,2014,06
1622049154,2134,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,62,2014,12
1788800910,939,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,0,2014,10
1951600150,4213,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,0,2015,04
2131701075,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,77,2014,12

### 2.2
Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами house_id - это индексы датафрейма с домами

In [116]:
merged = clients.merge(df, left_on= 'house_id', right_on= 'id')
merged.drop(columns= 'id', inplace= True)
merged

,client_id,house_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sell,month_sell
0,1459,8965450190,295000.0,3,2.50,1500,3060,2.0,0,0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,700000.0,4,1.75,1870,6000,1.0,0,0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,679000.0,4,2.50,3680,7236,2.0,0,0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,420000.0,3,1.75,1720,5000,1.5,0,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,518000.0,4,2.75,2520,14021,2.0,0,0,...,9,2520,0,1999,0,2330,14007,0,2014,06
5,2308,1189000207,387000.0,2,2.50,1170,1394,2.0,0,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,6821600300,886000.0,3,2.25,2380,6000,2.0,0,0,...,9,1650,730,1931,0,2000,6000,0,2015,03
7,2765,7137950720,339100.0,4,2.50,2350,10655,2.0,0,0,...,8,2350,0,1992,0,2210,7028,0,2015,03
8,1472,9510920050,725000.0,3,2.50,2980,16996,2.0,0,0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9,4236,6131600255,202500.0,3,2.00,1540,8316,1.0,0,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,5428000070,770000.0,5,3.50,4750,8234,2.0,0,2,...,10,3350,1400,2013,0,2160,14496,0,2015,05
11,939,1788800910,190000.0,3,1.00,1200,10458,1.0,0,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,8100400160,700000.0,3,2.25,2330,11424,2.0,0,0,...,8,2330,0,1984,0,2050,11448,0,2015,04
13,280,3123049142,452000.0,3,2.25,2600,14810,1.0,0,2,...,8,1490,1110,1956,0,2450,16715,0,2014,08
14,20,6306800010,436472.0,4,2.50,2692,8392,2.0,0,0,...,9,2692,0,2014,0,2574,14446,0,2014,08
15,4332,5083000375,170000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,5083000375,235000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310,0,1956,0,1330,9529,0,2015,03
17,3475,7920100025,450000.0,2,1.00,740,5100,1.0,0,0,...,7,740,0,1947,0,920,5100,0,2015,04
18,4213,1951600150,180000.0,3,1.00,1610,8500,1.5,0,0,...,7,1610,0,1959,0,1070,8750,0,2015,04
19,3113,809001400,925000.0,3,1.00,1630,3200,1.5,0,0,...,8,1630,0,1912,0,1710,3600,0,2014,09
20,4809,339600110,395000.0,3,2.50,1610,3755,2.0,0,0,...,7,1610,0,1987,0,1300,3823,0,2014,09
21,2134,1622049154,289900.0,3,1.75,1899,11325,2.0,0,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,1099600250,260000.0,3,1.75,1710,6400,1.0,0,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,8563000110,427000.0,4,1.75,1460,9750,1.0,0,0,...,7,1460,0,1967,0,1820,9840,0,2015,04
24,4929,2768100205,519000.0,4,2.50,1950,2617,1.5,0,0,...,7,1250,700,1910,0,1520,1438,0,2014,06
25,1384,3995700435,265000.0,4,3.00,1940,8170,1.0,0,0,...,7,1940,0,1948,0,1310,8169,0,2014,07
26,1589,8861700030,510000.0,3,1.50,2400,10275,1.0,0,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,0,...,11,4040,0,2002,0,3940,14212,0,2015,04
28,2260,7731100066,545000.0,3,1.00,1510,5000,1.5,0,0,...,7,1510,0,1909,0,1680,4000,0,2014,06
29,1727,8146100580,765000.0,3,1.00,1220,7585,1.0,0,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,825069097,770000.0,3,2.50,2650,40705,2.0,0,0,...,9,2650,0,1994,0,2550,42625,0,2014,06
31,1611,3889100029,810000.0,3,2.50,2670,10481,2.0,0,0,...,9,2670,0,2003,0,2620,8895,0,2014,06
32,1474,9524100196,239000.0,2,1.50,680,772,2.0,0,0,...,7,680,0,2005,0,690,1059,0,2014,11

## Задача 3
Составьте несколько сводных таблиц
### 3.1
Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [117]:
df.groupby('bedrooms').agg({'price':'mean'}).sort_values(by= 'price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

### 3.3
Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [118]:
pd.crosstab(index= df['waterfront'], columns= df['view'])

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

### 3.4
Каких домов в зависимости от этажности и количества спален больше?

In [120]:
def Element_ID(dataframe):
    for i in range(len(dataframe.index)):
        for j in range(len(dataframe.columns)):
            if dataframe.iloc[i,j] == dataframe.values.max():
                return i,j
dfbb = df.pivot_table(index= 'floors', columns= 'bedrooms', values= 'id', aggfunc= 'count', fill_value=0)
print(f'Maximum {dfbb.iloc[Element_ID(dfbb)[0],Element_ID(dfbb)[1]]} houses with {dfbb.index[Element_ID(dfbb)[0]]} floors and {dfbb.columns[Element_ID(dfbb)[1]]} bedrooms')

Maximum 5455 houses with 1.0 floors and 3 bedrooms

### 3.5
Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [122]:
df.pivot_table(index= 'condition', columns= 'grade', values= 'price', aggfunc= 'mean', fill_value=0)

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000,0,150000,280833.333333,303813.636364,334416.666667,932500.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0,280000,179600,206166.666667,269483.898305,342698.520000,421996.153846,7.150000e+05,1.752500e+06,0.000000e+00,0.000000e+00,0.000000e+00
3,0,75000,210000,246993.460000,290651.847343,385666.785823,510102.771609,7.265878e+05,1.012934e+06,1.414401e+06,2.138601e+06,3.338636e+06
4,0,0,243905,245299.011905,318731.570803,412923.073420,589527.303443,8.896645e+05,1.176285e+06,1.839916e+06,2.467962e+06,5.750000e+06
5,0,262000,0,271127.588235,310140.858871,479667.746699,736538.048718,1.123420e+06,1.735830e+06,2.238477e+06,2.290000e+06,0.000000e+00